@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;700&family=Unbounded:wght@400;700&display=swap');

:root {
    --logo-font: 'suquel', serif;
    --serif-font: 'Lexend+mega', serif;
    --sans-font: 'Unbounded', sans-serif;

    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);
    --green-secondary-color: rgb(0, 128, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    max-width: 100%;
    color: var(--secondary-color);
    font-family: var(--serif-font);
    display: grid;
    grid-template-rows: auto 1fr auto;
    flex-flow: auto;
    background-color: var(--primary-color);

}

/* header */
header {
    width: 100%;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--primary-color);


}

.header,
footer {
    width: 100%;
    max-width: 100%;
    display: flex;
    padding: .5em 2em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    background-color: var(--primary-color);

}

.header {
    justify-content: space-between;
    align-items: center;
    margin: 2 auto;
    border-bottom: 2px solid black;
}

.logo-center {
    width: 300px;
    height: 80wpx;
    margin: auto;
}


#social ul {
    max-width: 100%;
    display: flex;
    align-items: right;
    font-size: 1.2em;
    font-family: var(--sans-font);
    z-index: 10;
    gap: 2em;
}

ul {
    display: flex;
    align-content: right;
}

#social i {
    font-size: 3em;
    color: var(--secondary-color);
}

#social i:hover {
    color: var(--green-secondary-color);
}

.toggle-menu {
    display: none;
}

#toggler {
    display: none;
}

.sub-container {
    position: relative;
    width: fit-content;
}

#toggler+label {
    font-size: 2em;
    color: var(--secondary-color);
    position: absolute;
    cursor: pointer;
    top: 28px;
    right: 20px;
}

.close {
    display: none;
}

.collapsing-nav {
    display: none;
}

.collapsing-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid var(--green-secondary-color);
    border-bottom: 1px solid var(--green-secondary-color);
    color: var(--secondary-color);
    font-size: 1.2em;
    font-family: var(--sans-font);
    padding: 1em;
    row-gap: .2em;
}

.collapsing-nav>ul li {
    padding: .3em;
}

.sub-container {
    margin-left: 20px;
}

#toggler:checked~.collapsing-nav,
#toggler:checked+label>span.close,
#sub-toggler:checked~.collapsing-nav {
    display: block;
}

#toggler:checked+label>span.open {
    display: none;
}

/* Main Page */
.video-div {
    /*Ajuste a largura e altura desejadas aqui*/
    width: auto;
    height: 1400px;

    /*isto fará o elemento video e o .container se adaptarem ao .video-div*/
    position: relative;
}

.video-div>#video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* evita do video passar a altura desejada do .video-div */
}

.video-div>#video>video {
    width: 100%;
}

.about {
    display: block;
    height: 100px;
    background: #002bff;
}

.about>h3 {
    color: #000;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cards-service {
    background: #48ff00;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 100px;
}

.cards {
    width: 200px;
    height: 200px;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}


/* Footer */
footer {
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0;
    left: 0;

}

.whatsap i {
    font-size: 5em;
    color: var(--secondary-color);
    padding-left: 10px;
}

.whatsap i:hover {
    color: var(--green-secondary-color);
}

.a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000;
    text-transform: uppercase;
    font-size: 120%;
    font-family: var(--serif-font);
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #fff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* Media query */

/* Large screens (large screen from 1800px and up) */
@media only screen and (min-width: 1800px) {}


/* Medium and large screens (992px and up */
@media only screen and (min-width: 993px) {}

/* Medium screens ( 992px and down) */
@media only screen and (max-width: 992px) {

    nav>div {
        width: 100%;
    }

}

/* Medium small screens (768px and up) */

@media only screen and (max-width: 840px) {
    section {
        flex-direction: column;
        max-width: 100%;
    }

    .text-content {
        max-width: 90%;
    }

    #about {
        text-align: center;
    }
}

/* All except mobile (768px and up) */

@media only screen and (min-width: 769px) {}

/* Larger or lanscape phones (576px and up) */
@media screen and (min-width: 576px) {}


/* Small screens (768px and down) */

@media only screen and (max-width: 768px) {
    * {
        overflow: auto;
    }

    #nav i {
        font-size: 1, 5em;
    }

    #nav ul {
        display: flex;
        justify-content: center;
        gap: 2em;
    }

    .large-screen,
    ul.large-screen li {
        display: none;
    }

    .sticky-nav {
        position: relative;
        top: 0;
    }

    .sticky-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #booking {
        max-width: 100%;
    }

    #booking-confirmation {
        width: 40%;
    }


    .form-container form {
        width: 96%;
    }

    .form-background {
        background-image: url(../images/table-event-flower.avif);
        --position: center;
    }
}