@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;700&family=Unbounded:wght@400;700&display=swap");

:root {
    --logo-font: "suquel", serif;
    --serif-font: "Lexend", serif;
    --sans-font: "Unbounded", sans-serif;

    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);
    --green-secondary-color: rgb(0, 128, 0);
    --bs-white-rgb: 255, 255, 255;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

*:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    color: var(--secondary-color);
    font-family: var(--sans-font);
    display: grid;
    flex-flow: auto;
    background-color: var(--primary-color);
    max-height: 100vh;
}

/* header */
header {
    width: 100%;
    position: fixed;
    background-color: transparent;
    z-index: 10;
}

.header,
footer {
    width: 100%;
    max-width: 100%;
    display: flex;
    background-color: transparent;
    color: var(--secondary-color);
}

.header {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.logo-center {
    width: 180px;
    height: 80px;
    margin: auto;
}

.large-screen {
    max-width: 100%;
    display: flex;
    align-items: right;
    font-size: 1.2em;
    font-family: var(--sans-font);
    z-index: 10;
    gap: 2em;
}

ul {
    display: flex;
    align-content: right;
    margin-top: 30px;
}

#social {
    margin-top: 20px;;
}

#social i {
    font-size: 1.5em;
    color: var(--secondary-color);
}

#social i:hover {
    color: gold;
}

.toggle-menu {
    display: none;
}

#toggler {
    display: none;
}

.sub-container {
    position: relative;
    width: fit-content;
}

#toggler {
    font-size: 1em;
    color: var(--secondary-color);
    position: absolute;
    cursor: pointer;
    bottom: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
}



.collapsing-nav {
    display: none;
}

/* new navbar*/
.menu-toggler {
    position: absolute;
    display: block;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    width:40px;
    height:40px;
    z-index:1;
    opacity:0;
    cursor:pointer;
    font-size: 2em;
}

.menu-toggler:hover{
  background: white;
}

.menu-toggler:checked {
  background: transparent;
}

.menu-toggler:checked{
  top:0;
  width:40px;
  transform-origin: 50% 50%;
}

.menu-toggler {
  width: 50px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: rgba(230, 239, 250, 0.9);
  transition: transform 0.5s top 0.5s;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.menu-toggler + label:before,
.menu-toggler + label:after {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: rgba(255, 255, 255, 0.7);
  transition: transform 0.5s top 0.5s;
  content: "";
  position: absolute;
  display: block;
  margin-left: 30px;
}
.menu-toggler + label:before {
  bottom: 50px;
}
.menu-toggler + label:after {
  bottom: 30px;
}

.menu-buttom{
    padding: 60px 15px;
	text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
	max-width: 100%;
}

aside {
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0px;
	left: 0;
	background: linear-gradient(370deg, gray, white);
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
	z-index: 2;
}

.open {
	opacity: 1;
	visibility: visible;
}

nav {
	text-align: center;
	height: 95vh;
	display: block;
	justify-content: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    margin-top: 250px ;
}

nav li {
    align-items: center;
    line-height: 10vh;
}

nav >li> a {
    color: black;
}

.menu a {
    font-size: 1.5em;
    transition: all 0.5s ease;
    display: block;
    text-decoration: none;
    color: black;
}

.menu a:hover:before {
    color: white;
    transform: scale(1.1);
    &:before {
        visibility: visible;
        transform: scaleX(1);
    }
}

.menu a:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 25%;
    background: white;
    visibility: visible;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

@media screen and (min-width: 600px) {
  nav ul li a {
    font-size: 2em;
  }
}

.toggle-overlay {
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 85px;
    position: fixed;
    bottom: 0;
	background: transparent;
	border: 0px solid rgba(255, 255, 255, .4);
	color: black;
	border-radius: 8px;
    font-size: 3em ;
	transition: all .5s ease;
}
.close  span:before, .close span:after {
    border-radius: 4px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: "";
}

.close span:before {
    bottom: 50px;
    color: black;
    transform: rotate(45deg);
}

.close span:after {
    bottom: 30px;
    color: black;
    transform: rotate(-45deg);
}

aside {
    display: block;
}

.outer-close {
    position: absolute; 
    left: 250px;
    bottom: 30px;
    width: 5px;
    height: 40px;
    cursor: pointer;
}

.toggle-overlay:hover {
    border: 0px solid rgba(0, 0, 0, 1);
}

.close {
	position: fixed;
	color: white;
    bottom: 40px;
    right: 60px;
	z-index: 1;
	cursor: pointer;
    
}

.outer-close {
    position: absolute;
    width: 85px;
    height: 85px;
    cursor: pointer;
}
/* finish new navbar*/

/*  Main Page */

/* Slider wrapper*/
.css-slider-wrapper {
    display: block;
    background: #FFF;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/* Slider */
.slider {
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 1;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-transition: -webkit-transform 1600ms;
    transition: -webkit-transform 1600ms, transform 1600ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* each slide backgound color */  
.slide1 {
    background: black;
    left: 0;
}

.slide2 {
    background: #009788;
    left: 100%
}
.slide3 {
    background: #ff5608;
    left: 200%
}

.slide4 {
    background: #607d8d;
    left: 300%;
}

.slider > div {
    text-align: center;
}

/* Slider inner slide effect */
.slider h2 {
    color: #FFF;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 45px;
    padding-bottom: 10px;
    line-height: 120%;
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
}

.slider .button {
    color: #FFF;
    padding: 5px 30px;
    background: rgba(255,255,255,0.3);
    text-decoration: none;
    opacity: 0;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
}

.slider h2, .slider .button {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
}

/* Next and Preive arrow */ 
.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    z-index: 55;
}

.control label {
    z-index: 0;
    display: none;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    color: #FFF;
    cursor: pointer;
    opacity: 0.2;
}

.control label:hover {
    opacity: 0.5;
}

.next {
    right: 1%;
}

.previous {
    left: 1%;
}

/* Slider Pagger */ 
.slider-pagination {
    position: absolute;
    bottom: 20px;
    width: 100%;
    right: 40px;
    text-align: right;
    z-index: 1000;
}

.slider-pagination label {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: rgba(255,255,255,0.2);
    margin: 0 2px;
    border: solid 1px rgba(255,255,255,0.4);
    cursor: pointer;
}

/* Slider Pagger arrow event */
.slide-radio1:checked ~ .next .numb2, 
.slide-radio2:checked ~ .next .numb3, 
.slide-radio3:checked ~ .next .numb4, 
.slide-radio2:checked ~ .previous .numb1, 
.slide-radio3:checked ~ .previous .numb2, 
.slide-radio4:checked ~ .previous .numb3 {
    display: block;
    z-index: 1
}

/* Slider Pagger event */
.slide-radio1:checked ~ .slider-pagination .page1, 
.slide-radio2:checked ~ .slider-pagination .page2, 
.slide-radio3:checked ~ .slider-pagination .page3, 
.slide-radio4:checked ~ .slider-pagination .page4 {
    background: rgba(255,255,255,1)
}

/* Slider slide effect */
.slide-radio1:checked ~ .slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slide-radio2:checked ~ .slider {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-radio3:checked ~ .slider {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.slide-radio4:checked ~ .slider {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

.slide-radio1:checked ~ .slide1 h2,  
.slide-radio2:checked ~ .slide2 h2,  
.slide-radio3:checked ~ .slide3 h2,  
.slide-radio4:checked ~ .slide4 h2,  
.slide-radio1:checked ~ .slide1 .button,  
.slide-radio2:checked ~ .slide2 .button,  
.slide-radio3:checked ~ .slide3 .button,  
.slide-radio4:checked ~ .slide4 .button {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}

  
@media only screen and (max-width: 767px) {
  .slider h2 {
    font-size: 20px;
  }
  .slider > div {
    padding: 0 2%
  }
  .control label {
    font-size: 35px;
  }
  .slider .button {
    padding: 0 15px;
  }
}

/*---------------------------------------
  VIDEO              
-----------------------------------------*/
.video-wrap {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
    overflow: hidden;
    will-change: transform, opacity, filter;
    backface-visibility: hidden;
    background-repeat: no-repeat;
}

.custom-video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 0px) {

    .fullscreen-vd {
        display: none;
    }
}

/*---------------------------------------
  HERO        
  -----------------------------------------*/
.hero-section {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 0px);
}

.hero-section small {
    color: #ffffff;
    text-transform: uppercase;
}

.hero-section .section-overlay {
    z-index: 2;
    opacity: 0.10;
}

.hero-section .container {
    position: relative;
    z-index: 4;
    height: 90vh;
}

.text-center {
    text-align: center !important;
    font-size: 30px;
    font-family: var(--sans-font);
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.row,
.justify-content-center {
    width: 100vw;
    height: 90vh;
    ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.hero-section .container .row {
    height: 90%;
}

.text-center h1 {
    font-family: var(--sans-font);
}

/*---------------------------------------
  SECTION               
  -----------------------------------------*/



.on_small_scrrens {
    display: none;
}

/* Footer */
footer {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer {
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.whatsap i {
    font-size: 3em;
    color: var(--secondary-color);
    left: 10px;
    bottom: 10px;
    justify-content: right;
    align-items: flex-end;
}

/* Medium small screens (768px and up) */

@media only screen and (max-width: 840px) {
    section {
        flex-direction: column;
        max-width: 100%;
    }

    .text-content {
        max-width: 90%;
    }

    #about {
        text-align: center;
    }
}

/* All except mobile (768px and up) */

@media only screen and (min-width: 769px) {}

/* Larger or lanscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #toggler:checked+label>span.open {
        display: none;
    }

    ul {
        margin-right: 20px;
    }
}

/* Small screens (768px and down) */

@media only screen and (max-width: 768px) {

    *{
        overflow: auto;
    }

    .logo-center {
        width: 150px;
        height: 70px;
        margin-left: 20px;
    }

    #nav i {
        font-size: 1, 5em;
    }

    #nav ul {
        display: flex;
        justify-content: center;
        gap: 2em;
    }

    .large-screen,
    ul.large-screen li {
        display: none;
    }

    .small-screen {
        display: block;
    }

    .sticky-nav {
        position: relative;
        bottom: 0;
    }

    .sticky-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-center {
        text-align: center !important;
        font-size: 20px;
        font-family: var(--sans-font);
    }

    #video>video {
        display: block;
        top: 0;
        left: 1;
        right: 1;
        z-index: 0;
        /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #botoes {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .button-small-screens {
        background-color: none;
        border: none;
        text-align: center;
        display: block;
        font-size: 10px;
        margin: 2px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        width: 100px;
    }

    .button-small-screens img {
        width: 100%;
    }

    .on_small_scrrens {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .on_small_scrrens>li>a {
        text-decoration: none;
        align-items: center;
        justify-content: center;
    }

    .on_small_scrrens i {
        display: flex;
        font-size: 1.8em;
        color: rgba(0,0,0,0.7);
        text-decoration: none;
        gap: 50px;
    }

    .whatsap i {
        display: none;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
    }

    .contact100-form-title {
        display: block;
        font-family: var(--sans-font);
        font-size: 20px;
        color: #43383e;
        line-height: 1.2;
        text-align: left;
        padding-bottom: 35px;
    }

    .header {
        padding-left: 0;
        padding-right: 20px;
        justify-content: space-between;
    }



}