@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;700&family=Unbounded:wght@400;700&display=swap");

:root {
    --logo-font: "suquel", serif;
    --serif-font: "Lexend", serif;
    --sans-font: "Unbounded", sans-serif;

    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);
    --green-secondary-color: rgb(0, 128, 0);
    --bs-white-rgb: 255, 255, 255;
}

/*   Cotact page   */

[x-cloak] {
    display: none !important;
}
  
.glass {
      background: #00000010;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
     z-index: 1;
}