@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;700&family=Unbounded:wght@400;700&display=swap");

:root {
    --logo-font: "suquel", serif;
    --serif-font: "Lexend", serif;
    --sans-font: "Unbounded", sans-serif;

    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);
    --green-secondary-color: rgb(0, 128, 0);
    --bs-white-rgb: 255, 255, 255;
}

/*   Cotact page   */

.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #e6e6e6;
}

.wrap-contact100 {
    width: 550px;
    background: transparent;
    padding: 30px 0 80px 0;
}

.contact100-form {
    width: 100%;
}

.contact100-form-title {
    display: block;
    font-family: var(--sans-font);
    font-size: 30px;
    color: #43383e;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 35px;
}

.validate-input {
    position: relative;
}
.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    margin-bottom: 17px;
}

input.input100 {
    height: 62px;
    padding: 0 20px 0 58px;
}
.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: var(--sans-font);
    font-size: 15px;
    color: #43383e;
    line-height: 1.2;
    padding: 0 5px;
}
input {
    outline: none;
    border: none;
}

button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.label-input100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 62px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: 18px;
    color: #999999;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.lnr {
    font-family: var(--sans-font);
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    margin-bottom: 17px;
}

.contact100-form-checkbox {
    padding-top: 12px;
    padding-bottom: 20px;
}

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    font-family: var(--sans-font);
    font-size: 15px;
    color: #43383e;
    line-height: 1.2;
}

.container-contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-top: 13px;
}

.wrap-contact100-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 31px;
    overflow: hidden;
}

.contact100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #df2351;
    background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 62px;
    font-family: var(--sans-font);
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
}

.contact100-form-btn a {
    text-decoration: none;
    color: var(--secondary-color);
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#instagram-feed {
    width: 100px;
    height: 200px;
    object-fit: contain;
}

